footer {
    background-color: #2F2F51;
    color: white;
    padding: 55px 0;
    font-weight: 400;
    font-size: 14px;
    
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

.footer__box {
    display: flex;
    align-items: center;
    gap: 22px;
}

.footer__links {
    display: flex;
    gap: 15px;
    align-items: center;
}

.footer__links:hover {
    cursor: pointer;
    opacity: 0.5;
}



  @media (max-width:992px) {
    .footer-wrapper {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        width: 100%;
    }
    footer {
        width: 100%;
    }
  }